@media(max-width:1000px ){

  .top{
    height:70%;
    background-position: center bottom;
  }

  .block-contents h2{
    margin-top:4vw;
    font-size:6vw;
    line-height:6vw;
  }

  .block-contents p{
    margin-top:2vw;
    font-size:2vw;
    line-height:3vw;
  }

  .block-contents{
    height:200vw;
  }

  .block-contents .block-set{
    float:left;
    height:100vw;
    width:50%;
  }

  .split-box{
    text-align:center;
    margin:20px;
  }

  .split-item{
    width:50%;
  }

}

@media(max-width:670px ){


  h1{
    font-size:30px;
    line-height:52px;
  }

  h2{
    font-size:25px;
    line-height:34px;
  }

  h3{
    font-size:22px;
    line-height:30px;
  }

  p{
    font-size:12px;
    line-height:24px;
  }


  header p{
    margin-left:3px;
    font-size:10px;
  }

  header .scrapbox a{
    font-size:10px;
    padding:0;
  }

  .block-contents{
    height:600vw;
  }
.block-set .photo{
  height:66.6%;
}

  .block-contents .block-set{
    float:left;
    text-align:center;
    height:150vw;
    width:100%;
  }

  .split-item{
    width:100%;
    padding:50px 10px;
  }

  footer a{
    font-size:14px;
  }

  footer span{
    font-size:12px;
  }

}
